<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DFS</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <script src="/js/Scripts.js"></script>
    <link rel="icon" type="image/png" href="/fileIcons/database.png">
    <script>
        function enableEditFolder(name) {

            document.getElementById(name).innerHTML = "" +
                "" +
                "<input name='newFolderName' type='text' value='" + name + "'/>" +
                "<input type='hidden' name='oldFolderName' value='" + name + "' />" +
                "<input type='submit' class='mx-1' value='OK'/>";

            document.getElementById(name).action = "/changeFolderName";
        }

        function enableEditFile(name) {

            document.getElementById(name).innerHTML = "" +
                "" +
                "<input name='newFileName' type='text' value='" + name + "'/>" +
                "<input type='hidden' name='oldFileName' value='" + name + "' />" +
                "<input type='submit' class='mx-1' value='OK'/>";

            document.getElementById(name).action = "/changeFileName";
        }

    </script>
    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body class="bg-light">
<div class="container">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary"
         th:include="navigationBar :: navigationBar"/>
    <div class="row mt-3">
        <div class="col-md-8 mx-auto text-center">
            <form class="form-inline" method="POST" action="/fileUpload" enctype="multipart/form-data">
                <input type="file" class="my-1" name="file">
                <label for="replication" class="mx-1"><b>Replikacja:</b></label>
                <select id="replication" th:name="replication" class="mx-1">
                    <option th:each="c: ${replicationValues}" th:value="${c}" th:text="${c}"></option>
                </select>
                <input type="submit" value="Wyślij">
            </form>
        </div>
        <div class="col-md-4 mx-auto text-center">
            <form class="form-inline" action="/addFolder">
                <input class="form-control mx-1" th:name="folderName" id="folderName" type="text"/>
                <input type="submit" class="mx-1 " value="Dodaj folder">
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 text-left">
            <p th:text="'Ścieżka: ' + ${session.path} "></p>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="optionsDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opcje
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                    <form method="post" action="/moveFile">
                        <input class="dropdown-item" type="submit" value="Wklej"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-10 mx-auto text-center">
            <table class="w-100 table mx-auto table-hover table-bordered table-sm" id="filesListTable" border="1">
                <thead class="thead-light">
                <tr>
                    <th style="width: 10%">Typ</th>
                    <th onclick="sortTable(1,'filesListTable')" style="width: 60%;">Nazwa</th>
                    <th onclick="sortTable(2,'filesListTable')" style="width: 10%;">Rozmiar</th>
                    <th onclick="sortTable(3,'filesListTable')" style="width: 10%;">Replikacja</th>
                    <th style="width: 10%">Akcja</th>
                </tr>
                </thead>
                <tr th:each="singleObject: ${objectsOnTheList}" th:object="${singleObject}">
                    <td><img th:if="${singleObject.icon}!='-'" th:src="*{icon}" style="width: 20px;height: 20px">
                    </td>
                    <td th:if="${singleObject.type}=='file'">
                        <form method="post" action="/downloadFile" th:id="${singleObject.name}">
                            <input type="hidden" th:name="filename" th:value="${singleObject.name}"/>
                            <input class="buttonLink" type="submit" draggable="true" th:id="${singleObject.name}"
                                   ondragstart="drag(event)" th:value="${singleObject.name}"/>
                        </form>
                    </td>
                    <td th:if="${singleObject.type}=='folder'">
                        <form method="post" action="/enterFolder" th:id="${singleObject.name}">
                            <input type="hidden" th:name="foldername" th:value="${singleObject.name}"/>
                            <input class="buttonLink" type="submit" ondragover="allowDrop(event)"
                                   th:id="${singleObject.name}" ondrop="drop(event)" th:value="${singleObject.name}"/>
                        </form>
                    </td>
                    <td th:text="*{size}"></td>
                    <td th:text="*{replication}"></td>
                    <td th:if="${singleObject.type}=='file' or (${singleObject.type}=='folder'and ${singleObject.name}!='..')">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opcje
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <form th:if="${singleObject.type}=='file'" method="post" action="/savePathToMove">
                                <input type="hidden" th:name="filename" th:value="${singleObject.name}"/>
                                <input class="dropdown-item" type="submit" value="Wytnij"/>
                            </form>

                            <a class="dropdown-item" href="#" th:onclick="'enableEditFile(\'' + ${singleObject.name} + '\');'" th:if="${singleObject.type}=='file'">Zmień nazwę
                            </a>
                            <a class="dropdown-item" href="#" th:onclick="'enableEditFolder(\'' + ${singleObject.name} + '\');'" th:if="${singleObject.type}=='folder'and ${singleObject.name}!='..'">Zmień nazwę</a>

                            <div class="dropdown-divider"></div>

                            <form th:if="${singleObject.type}=='file'" method="post" action="/deleteFile">
                                <input type="hidden" th:name="filename" th:value="${singleObject.name}"/>
                                <input class="dropdown-item" type="submit" value="Usuń"/>
                            </form>

                            <form th:if="${singleObject.type}=='folder'and ${singleObject.name}!='..'" method="post" action="/deleteFolder">
                                <input type="hidden" th:name="foldername" th:value="${singleObject.name}"/>
                                <input class="dropdown-item" type="submit" value="Usuń"/>
                            </form>

                        </div>
                    </div>
                    </td>
                    <td th:if="${singleObject.type}=='folder'and ${singleObject.name}=='..'">
                        -
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12 mx-auto text-center">
        <p id="errorField1" class="text-danger" th:if="${error}=='badFolderName'">Niepoprawna nazwa folderu.
            Nazwa folderu musi składac się tylko ze znaków alfanumerycznych i nie może zawierać spacji.</p>
        <p id="errorField2" class="text-danger" th:if="${error}=='fileAlreadyExists'">Taki plik już istnieje.
            W całym systemie plików może istnieć tylko jeden plik o danej nazwie.</p>
        <p id="errorField3" class="text-danger" th:if="${error}=='zeroNodes'">W systemie nie ma żadnych
            węzłów danych. Sprawdź konfiguracje w pliku dfsNameNode/configuration/dataNodes.</p>
        <p id="errorField4" class="text-danger" th:if="${error}=='noFileToSend'">Nie wybrano pliko do
            wysłania.</p>
        <p id="errorField5" class="text-danger" th:if="${error}=='notEnoughSpace'">Za mało miejsca w
            systemie aby zapisać plik.</p>
        <p id="errorField6" class="text-danger" th:if="${error}=='fileNotExist'">Wystąpił błąd wewnętrzy,
            plik nie istnieje w systemie. Sugeruje to zewnętrzą ingerencję w folder przechowujący pliki
            w węzłach danych.</p>
        <p id="errorField7" class="text-danger" th:if="${error}=='folderNameAlreadyExists'">Nie można było
            zmienić nazwy folderu. Taka nazwa jest już używana.</p>
        <p id="errorField8" class="text-danger" th:if="${error}=='fileNameAlreadyExists'">Nie można było
            zmienić nazwy pliku. Taka nazwa jest już używana. Każdy plik w systemie musi mieć unikatową nazwę.</p>
        <p id="errorField9" class="text-danger" th:if="${error}=='moveFileFromCutNameAlreadyExists'">Nie przenieść
            tutaj pliku, bo taka nazwa jest już używana, zmień nazwę pliku przed jego przeniesieniem.</p>
    </div>
</div>
<div class="fixed-bottom text-center">
    Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="smashicons">smashicons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
</div>
</body>
</html>

